In [1]:
import pandas as pd

# Table1

In [3]:
df = pd.read_csv("../Table1/Table1.data.csv", sep=',', index_col=None)
df.head(n=2)

  embedding    phylum   rank     AUROC      AUPR
0   DeepCOI  Annelida  class  0.996351  0.964091
1    onehot  Annelida  class  0.971840  0.949372

In [9]:
auroc = df.groupby(["embedding", "rank"])['AUROC'].mean().unstack()
auroc.loc[['onehot', 'random', 'end_to_end', 'DeepCOI']]

rank           class    family     genus     order   species
embedding
onehot      0.962150  0.884245  0.861342  0.930730  0.885932
random      0.987390  0.938801  0.923905  0.964618  0.921982
end_to_end  0.930129  0.853295  0.829379  0.911182  0.792900
DeepCOI     0.991415  0.971291  0.948551  0.984032  0.912680

In [10]:
aupr = df.groupby(["embedding", "rank"])['AUPR'].mean().unstack()
aupr.loc[['onehot', 'random', 'end_to_end', 'DeepCOI']]

rank           class    family     genus     order   species
embedding
onehot      0.936505  0.778533  0.744357  0.849838  0.749274
random      0.969564  0.864125  0.826830  0.910363  0.819010
end_to_end  0.929440  0.744890  0.699638  0.841762  0.612905
DeepCOI     0.979525  0.901880  0.866970  0.945854  0.817341

# Table2

In [14]:
df = pd.read_csv("../Table2/Table2.data.csv", sep=',', index_col=None)
df.head(n=2)

        model    phylum   rank     AUROC      AUPR
0  1D-CNN_GRU  Annelida  class  0.937903  0.906923
1         GRU  Annelida  class  0.946783  0.923207

In [15]:
auroc = df.groupby(["model", "rank"])['AUROC'].mean().unstack()
auroc.loc[['no_network', '1D-CNN', 'GRU', '1D-CNN_GRU']]

rank           class    family     genus     order   species
model
no_network  0.995135  0.968574  0.948383  0.983549  0.921194
1D-CNN      0.991199  0.971790  0.948683  0.983329  0.912680
GRU         0.978525  0.937014  0.913004  0.958991  0.904984
1D-CNN_GRU  0.965510  0.900669  0.879939  0.933565  0.820859

In [16]:
aupr = df.groupby(["model", "rank"])['AUPR'].mean().unstack()
aupr.loc[['no_network', '1D-CNN', 'GRU', '1D-CNN_GRU']]

rank           class    family     genus     order   species
model
no_network  0.989408  0.898690  0.858249  0.947859  0.823794
1D-CNN      0.979525  0.901880  0.866970  0.945854  0.817341
GRU         0.962316  0.856145  0.812163  0.908327  0.795426
1D-CNN_GRU  0.950092  0.774723  0.717007  0.859899  0.712589

# Table3

In [11]:
df = pd.read_csv("../Table3/Table3.data.csv", sep=',', index_col=None)
df.head(n=2)

     model    phylum   rank     AUROC      AUPR
0  DeepCOI  Annelida  class  0.996351  0.964091
1   wo_MCM  Annelida  class  0.997100  0.972854

In [12]:
auroc = df.groupby(["model", "rank"])['AUROC'].mean().unstack()
auroc.loc[['base', 'wo_MCM', 'wo_wBCE', 'DeepCOI']]

rank        class    family     genus     order   species
model
base     0.987687  0.962670  0.948141  0.978117  0.929722
wo_MCM   0.991414  0.969537  0.947731  0.980746  0.912680
wo_wBCE  0.990089  0.963941  0.947204  0.980547  0.929722
DeepCOI  0.991170  0.971609  0.948041  0.983781  0.912680

In [13]:
aupr = df.groupby(["model", "rank"])['AUPR'].mean().unstack()
aupr.loc[['base', 'wo_MCM', 'wo_wBCE', 'DeepCOI']]

rank        class    family     genus     order   species
model
base     0.966152  0.890788  0.861363  0.927949  0.830272
wo_MCM   0.975374  0.899899  0.867262  0.944058  0.817341
wo_wBCE  0.973249  0.893545  0.864425  0.931124  0.830272
DeepCOI  0.979525  0.901880  0.866970  0.945854  0.817341