In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../Sup_Table_S9/Sup_Table_S9.data.csv", sep=',')
df.head(n=2)

     phylum  trial   rank     AUROC      AUPR
0  Annelida      0  class  0.999186  0.997816
1  Annelida      3  class  0.999095  0.997381

In [13]:
auroc = df.groupby(['phylum', 'trial'])['AUROC'].mean()
auroc = auroc.unstack()
auroc['min'] = auroc.min(axis=1)
auroc['max'] = auroc.max(axis=1)
auroc['diff'] = auroc['max'] - auroc['min']
auroc = auroc[['min', 'max', 'diff']]

In [14]:
auroc

trial          min       max      diff
phylum
Annelida  0.963647  0.967372  0.003725

In [15]:
aupr = df.groupby(['phylum', 'trial'])['AUPR'].mean()
aupr = aupr.unstack()
aupr['min'] = aupr.min(axis=1)
aupr['max'] = aupr.max(axis=1)
aupr['diff'] = aupr['max'] - aupr['min']
aupr = aupr[['min', 'max', 'diff']]

In [16]:
aupr

trial          min       max      diff
phylum
Annelida  0.901982  0.911427  0.009445